

<script>
 showPosition();
  function showPosition(){
     Destination = new google.maps.LatLng($('#latitude').text(), $('#longitude').text())
    var mapOptions = {
        zoom: 19,
        center: Destination
    };
    map = new google.maps.Map(document.getElementById('newresults-canvas'), mapOptions);
  }

  var position = navigator.geolocation.getCurrentPosition(showDirections)

  function showDirections(position){
    var request = {
      origin: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
      destination: Destination,
      travelMode: google.maps.TravelMode.WALKING
    }
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsServce = new google.maps.DirectionsService();
    directionsServce.route(request, function(result,status){
      directionsDisplay.setDirections(result)
      directionsDisplay.setMap(map);
    })
  }
</script>

<div id="newresults-canvas"></div>

    <div id="header">
      <nav class="wootstrap-navbar">
          <ul>
            <li class="wootstrap-home-icon">Feed Me</li>
          </ul>
          <li style="padding-left:60%;"><img src="https://playfoursquare.s3.amazonaws.com/press/logo/poweredByFoursquare_gray.png" width=40% ></img></li>
      </nav>
    </div>



<div id='result'>

  <h3>Your only choice:</h3>
  <% rest = places.sample %>
  <p id="restName"><%= rest.name %> Restaurant</p>

  <p style="visibility: hidden;" id="latitude"><%=  rest.latitude %></p>
  <p style="visibility: hidden;" id="longitude"><%=  rest.longitude %></p>

  <%= form_tag recommendation_path(recommendation), action: "update", method: "put" , :html => { :'data-yes' => "yes"} do %>
  <%= submit_tag"Yes!", class: "yes", :"data-id" => recommendation.id %>
  <% end %>

  <%= form_tag recommendation_path(recommendation), action: "update", method: "put" , :html => {  :'data-no' => "no" } do %>
  <%= submit_tag "No!", class: "no", :"data-id" => recommendation.id %>
  <% end %>

</div>



