<div id='selection'>
  <% rest = place.place %>
  <p id="restName"><a href=<%=rest.company_url%>><%= rest.name %></a></p>
  <p id="phoneNum"><a href="tel:<%= rest.phone_num %>"><%= rest.phone_num %></a></p>
  <p id="address"><a href="http://maps.google.com/?q=<%= rest.address %>,San Francisco"><%= rest.address %></a></p>
  <p id="menuUrl"><a href=<%=rest.menu_url%>>Food Menu</a></p>
  <p style="visibility: hidden;" id="latitude"><%=  rest.latitude %></p>
  <p style="visibility: hidden;" id="longitude"><%=  rest.longitude %></p>
</div>
