<script>
 showPosition();
  function showPosition(){
<<<<<<< HEAD
     Destination = new google.maps.LatLng($('#latitude').text(), $('#longitude').text())
=======
    Destination = new google.maps.LatLng($('#latitude').text(), $('#longitude').text())

>>>>>>> merging from master
    var mapOptions = {
        zoom: 19,
        center: Destination
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
<<<<<<< HEAD
=======

>>>>>>> merging from master
  }


  var position = navigator.geolocation.getCurrentPosition(showDirections)

  function showDirections(position){
    var request = {
      origin: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
      destination: Destination,
      travelMode: google.maps.TravelMode.DRIVING
    }
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsServce = new google.maps.DirectionsService();
    directionsServce.route(request, function(result,status){
      directionsDisplay.setDirections(result)
      directionsDisplay.setMap(map);
    })
  }
<<<<<<< HEAD
</script>


<div id="results-canvas"></div>
=======

</script>

<div id="map-canvas"></div>
>>>>>>> merging from master

<div id='result'>

  <h3>Your only choice:</h3>
  <% rest = recommendation.place %>
  <p id="restName"><%= rest.name %> Restaurant</p>

  <p style="visibility: hidden;" id="latitude"><%=  rest.latitude %></p>
  <p style="visibility: hidden;" id="longitude"><%=  rest.longitude %></p>


</div>

<div id="placeInfo">
  <p id="phoneNum">Phone Number: <%= rest.phone_num %></p>
  <p id="address">Address: <%= rest.address %></p>
  <p id="companyUrl"><a href='<%="#{rest.company_url}"%>'>Company Website <%=rest.company_url%></a></p>
  <p id="menuUrl"><a href=<%"#{rest.menu_url}"%>>See Menu: <%= rest.menu_url %></a></p>
</div>

  <div class="user-preference">
    <%= form_tag recommendation_path(recommendation), action: "update", method: "put" , :html => { :'data-yes' => "yes"} do %>
    <%= button_tag "Yes!", class: "yes", :"data-id" => recommendation.id %>
    <% end %>

    <%= form_tag recommendation_path(recommendation), action: "update", method: "put" , :html => {  :'data-no' => "no" } do %>
    <%= button_tag "No!", class: "no", :"data-id" => recommendation.id %>
  </div>

  <% end %>

</div>

