<!DOCTYPE html>
<html>
<head>
  <title>Help.me</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%="#{ENV['GOOGLE_KEY']}"%>&sensor=false">
    </script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
</head>
<body>

<div class="header">
<h1>The
</div>

<div class="body">
<%= yield %>
</div>

<div class="footer">
  <p>Made with love by the Help.Me team</p>
  <p><a href="http://twitter.com/jonathanpeterwu">@jonathanpeterwu</a>, <a href="http://twitter.com/HWhelchel">@harrywhelchel</a>, <a href="http://twitter.com/darrendahl">@darrandahl</a>, <a href="http://twitter.com/philipavargas">@philipavargas</a>, <a href="http://twitter.com/MathildeMouw">@mathildemouw</a></p>
</div>

</body>
</html>
